---
import Layout from '@layouts/Layout.astro';

import IntroSection from '@components/IntroSection.astro';
import PurposeSection from '@components/PurposeSection.astro';
import HistorySection from '@components/HistorySection.astro';
import ObjectivesSection from '@components/ObjectivesSection.astro';
import AutoCADSection from '@components/AutoCADSection.astro';
import TechnicalDrawingSection from '@components/TechnicalDrawingSection.astro';
import StatusSection from '@components/StatusSection.astro';

import '../styles/global.css';
---

<Layout>
  <main class="overflow-x-hidden">
    {/* Page 1 - Propósito */}
    <IntroSection />

    {/* Page 1 - Propósito */}
    <PurposeSection />

    {/* Page 2 - Histórico */}
    <HistorySection />

    {/* Page 3 - Objectivos */}
    <ObjectivesSection />

    {/* Page 4 - AutoCAD Course Content */}
    <AutoCADSection />

    {/* Page 5 - Technical Drawing Course Content */}
    <TechnicalDrawingSection />

    {/* Page 6 - Contact/CTA */}
    <StatusSection />
  </main>
</Layout>
